{
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true,
    "node": true,
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["react", "jest", "import", "@typescript-eslint", "prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
      },
    ],
    "@typescript-eslint/no-var-requires": "off",
    "react/no-deprecated": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "arrow-body-style": "warn",
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
    },
    "sourceType": "module",
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
}
